.cart-header {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 2rem;
}

.item-list {
  margin: 15%;
  border-radius: 0px !important;
}

.item-price {
  font-size: 25px;
}

@media screen and (max-width: 1000px) and (min-width: 900px) {
  .item-list {
    max-height: 580px;
  }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  .item-price {
    font-size: 15px;
  }
  .card-body {
    padding: 0px 2px !important;
  }
  .item-list {
    font-size: 10%;
  }
}
